<%= content_tag(:span, "New transaction", :class =>"rightSideTitles" ) %>

<% form_tag("/transactions",{:multipart => true}) do %>
  
    
  <p>
    <%= label_tag "file", "File to upload" %>
    <br />
    <%= file_field_tag("file") %>
  </p>
  <p>
    <%= submit_tag "Upload" %>
  </p>
<% end %>

